{% extends 'front/front_base.html' %}
{#{% from 'macros.html' import form_field %}#}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='front/css/reg_log.css') }}">
{% endblock %}

{% block content %}
    <form method="post">
        {{ form.csrf_token }}
        <div class="mb-3">
            <label for="username" class="form-label">用户名</label>
            {{ form.username }}
            {#            <div id="emailHelp" class="form-text">We'll never share your username with anyone else.</div>#}
        </div>
        <div class="mb-3">
            <label for="DL_ID" class="form-label">工号</label>
            {{ form.DL_ID }}
        </div>
        {% if message %}
            <p class="text-danger" style="text-align:center">{{ message }}</p>
        {% endif %}
        <div class="mb-3">
            <label for="password" class="form-label">密码</label>
            {{ form.password }}
        </div>
        <div class="mb-3">
            <label for="password_repeat" class="form-label">确认密码</label>
            {{ form.password_repeat }}
        </div>
        {{ form.submit }}<br>
        <a href="{{ url_for('front.login') }}" class="text-decoration-none"><small>已有账号？点此登录</small></a>
    </form>
{% endblock %}
